<div class="container orange pullUpDown">
    <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
    </label>
    <img src="https://i.imgur.com/kbK5Jn6.png" class="logo"> 
    <ul>
      <li><a class="active" routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/404" routerLinkActive="active">About</a></li>
      <li><a routerLink="/404" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/404" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/Login-User" routerLinkActive="active">Login</a> 
      </li>
    </ul>
</nav>
</div>

<!--  -->
